// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 35;
$blueprint-container-size: 900px;
$blueprint-grid-margin: 0px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$container-width: 1000px;
$min-height: 1050px;
$content-height: 700px;
$content-width: 700px;
$submenu-width: $blueprint-container-size - $content-width;
$header-height: 150px;
$footer-height: 25px;
$footer-width: $content-width;

$home-color: #2f3333;
$radio-color: #1B3A49;
$tv-color: #1a283e;
$publicaties-color: #363A4E;
$gedachten-color: #0A1608;
$links-color: #1f1313;
$personalia-color: #152f28;
$gevonden-color: #30252a;

$home-page-width: 960px;
$home-page-height: 710px;
$home-content-width: 390px;
$home-content-height: 440px;
$home-header-height: 170px;